export(bef.combineObjects)
export(bef.getMetadata)
export(bef.options)
export(bef.portal.get)
export(bef.portal.get.dataset)
export(bef.portal.get.keywords)
export(bef.portal.get.proposal)
export(bef.search.tematres)
export(bef.search.tematres.broader_keywords)
export(bef.search.tematres.keywords)
export(bef.search.tematres.narrower_keywords)
import(RCurl)
import(XML)
import(rjson)
