export(bef.combineObjects)
export(bef.getDataset)
export(bef.getKeywords)
export(bef.getMetadata)
export(bef.getProposal)
export(bef.getdata)
export(bef.options)
export(bef.search.tematres) 
export(bef.search.tematres.keywords)
export(bef.search.tematres.narrower_keywords)
export(bef.search.tematres.broader_keywords)
import(RCurl)
import(XML)
import(rjson)
